body {
  background-color: black;
  color: white;

  font: 13px Verdana;
}

#site {
  margin: auto;

  display: table;

  min-width: 100px;
  max-width: 1000px;

  width: 90%;

  border-style: solid;
  border-color: rgba(134, 0, 0, 0.61);
  border-width: 1px;
}

#cabecalho {
  /*background-color:blueviolet;*/
  background-color: #db1f1f;
  background-image: linear-gradient(141deg, #c13333 0%, #c31a1a 51%, #961d1d 75%);
}

#cabecalho p {
  font-size: 20px;

  /* tamanho */
  width: 180px;
  height: auto;

  /* centralizar */
  margin: auto;
  display: table;

  padding: 20px;
}

#cabecalho img {
  /* tamanho */
  width: 180px;
  height: auto;

  /* centralizar */
  margin: auto;
  display: table;

  padding: 20px;
}

#titulo {
  font-size: 30px;
  text-align: center;
}

#menu {
  background-color: rgb(187, 162, 162);
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(48, 48, 48);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover {
  color: rgb(184, 184, 184);
}

#conteudo {
  background-color: rgb(24, 24, 24);
}

.titulo {
  font-size: 18px;
  padding-top: 11px;
  padding-bottom: 4px;
  margin-left: 5px;
}

#rodape {
  background-color: rgb(212, 212, 212);

  border-top-style: solid;
  border-top-color: rgb(158, 158, 158);
  border-top-width: 1px;

  text-align: center;
}

#grupo {
  float: left;
}

#rodape div {
  padding-top: 6px;
  padding-bottom: 6px;

  padding-left: 4px;
  padding-right: 4px;

  font: 11px Verdana;
  color: black;
}
