body {
    background-color: black;
    color: white;

    font: 13px Verdana;
}

#site{
  margin: auto;
  
  display:table;
  
  min-width: 100px;
  max-width: 1000px;

  width:90%;

  border-style: solid;
  border-color: rgba(38, 0, 255, 0.61);
  border-width: 1px;
}

#cabecalho {
  background-color:blueviolet;
}

#cabecalho img{
  /* tamanho */
  width: 180px;
  height:auto;
  
  /* centralizar */
  margin: auto;
  display:table;

  padding: 20px;

  background-color:blueviolet;
}


#titulo{
    font-size: 30px;
    text-align: center;
}

#menu{
    height:35px;
    background-color:rgb(187, 162, 162);
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(48, 48, 48);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#menu li {
  float: left;
}
  
#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
#menu li a:hover {
  color: rgb(184, 184, 184);
}

#conteudo{
  padding: 10px;
  background-color:rgb(24, 24, 24);  
}

.titulo{
  font-size: 18px; margin-top: 11px; margin-left: 5px;
}


#cartazes{
  /* centralizar */
  margin: auto;
  display:table;  
}

#cartazes img{
  width:200px;
  height:auto;
  
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#cartazes img:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


#cartazes ul {  
  padding-top: 10px;

  list-style-type: none;
  overflow: hidden;
  
}
  
#cartazes li {
  float: left;

  margin: 10px;
}


#rodape{
  height:25px;
  background-color:rgb(212, 212, 212);

  border-top-style: solid;
  border-top-color: rgb(158, 158, 158);
  border-top-width: 1px;

  text-align: center;
}

#rodape div{
  padding-top: 6px;
  font: 11px Verdana;
  color: black;
}